<html>

<head>
        <%- include partials/basic/head %>


</head>

<body>
        <%- include partials/basic/nav %>
        <%- include partials/basic/header %>
        <%- include partials/basic/main %>
        <%- include partials/basic/footer %>
   
</body>

</html>